.age {
  grid-column: 2/4;
  grid-row: 5;
}

.firstName {
  grid-column: 2/5;
  grid-row: 2;
}

.secondName {
  grid-column: 2/5;
  grid-row: 3;
}

.middleName {
  grid-column: 2/5;
  grid-row: 4;
}

.input {
  display: block;
  width: 288px;
  padding: 0px 20px;
  margin-top: 5px;
  /* margin-right: auto;
  margin-left: auto; */
  margin-bottom: 10px;
  font: 16px 'Roboto-Regular', sans-serif;
  line-height: 40px;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  outline: none;
  background-color: #f9f9f9;
}

.ageInput {
  width: 148px;
}

.input:hover {
  border-color: #2e7afb;
}

.input:focus {
  border-color: #2e7afb;
}

.label {
  margin-top: 20px;
}