.root{
  grid-column: 4;
  grid-row: 7;
}

.button {
  width: 108px;
  height: 38px;
  background-color: white;
  color: #2e7afb;
  border: 1px solid #2e7afb;
  border-radius: 10px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}
