.secondName {
  grid-area: secondName;
}

.input {
  display: block;
  width: 243px;
  padding: 0 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  font: 16px 'Roboto-Regular', sans-serif;
  line-height: 40px;
  border-radius: 5px;
  border:1px solid grey;
  outline: none;
}

.input:hover {
  border-color: #038cfc;
}

.label {
  margin-top: 20px;
  width: 200px;
}

.error {
  position: relative;
  padding-left: 25px;
  color: red;
  font: 12px "Roboto-Light", sans-serif;
  width: 250px;
}

.error::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 0px;
  width: 17px;
  height: 17px;
  background-image: url("../../img/error.png");
  background-size: 17px;
  background-repeat: no-repeat;
}