.gender {
  grid-column: 4;
  grid-row: 5;
  width: 110px;
}

.radio:first-of-type {
  margin-top: 6px;
}

.radio {
  margin-top: 4px;
}

.input {
  margin-right: 10px;
  cursor: pointer;
}

.label {
  cursor: pointer;
}
