body,
html,
ul,
li,
div,
h1,
h2 {
  padding: 0;
  margin: 0;
}

body {
  background-color: #fff;
}

.app {
  display: grid;
  grid-template-columns: 1fr 400px minmax(30px, 1fr) 600px 1fr;
  grid-template-rows: 1fr 180px 180px 180px 180px 1fr;
  height: 100vh;
  font: 18px 'Roboto-Regular', sans-serif;
}

@font-face {
  font-family: 'Roboto-Regular';
  src:  url(./../../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: 'Roboto-Light';
  src:  url(./../../fonts/Roboto-Light.ttf);
}