.selectUniversity {
  grid-column: 2/5;
  grid-row: 6;
  z-index: 100;
}

.dropDownMenu {
}

.select {
  position: relative;
  height: 40px;
  padding: 0 20px;
  margin-top: 10px;
  background-color: #f9f9f9;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  cursor: pointer;
}

.select:after {
  position: absolute;
  content: '❯';
  transform: rotate(90deg);
  top: 8px;
  left: 305px;
  opacity: 1;

}

.selectOpen {
  position: relative;
  height: 40px;
  padding: 0 20px;
  margin-top: 10px;
  border: 1px solid #e5e5e5;
  background-color: #f9f9f9;
  border-bottom: 0px;
  border-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-color: #2e7afb;
}

.selectOpen:after {
  position: absolute;
  content: '❯';
  transform: rotate(-90deg);
  top: 8px;
  left: 305px;
  opacity: 1;
}

.select:hover {
  border: 1px solid #2e7afb;
}

.select:focus {
  border-color: #2e7afb;
}

.selectItem {
  height: 40px;
  padding: 0 20px;
  cursor: pointer;
  background-color: #f9f9f9;
}

.selectItem:hover {
  border-color: #2e7afb;
}

.span {
  height: 20px;
  line-height: 40px;
  cursor: pointer;
}

.options {
  height: 120px;
  background-color: #ffffff;
  border: 1px solid #2e7afb;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-color: #2e7afb;
  overflow-y: scroll;
  
}
